# Dependências
/node_modules

# Arquivos de Build do Next.js
/.next/
/out/

# Arquivos de Ambiente Local
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos do Sistema Operacional
.DS_Store

# Vercel (provedor de hospedagem comum para Next.js)
.vercel

# Cache de Typescript
*.tsbuildinfo
next-env.d.ts

# IDE / Editor
.vscode/
!.vscode/settings.json
.idea/
